# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out
bin

# Ignore IntelliJ project files
.idea
*.iml

.DS_Store

out
*.log

lombok.config

reports

src/scoverage
